<center>
<h2>Home</h2>
<p>This web game was created by</p>
<p> Ruilin Wang 51986323 </p> 
<p>Please secelet one opotion or click below to start the game. </p>
<a href= "/play">Play Game</a><br>
</center>
