<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"> <!--#specifies the character encoding to Unicode for te html document-->
<meta name="viewport" content="width=device-width"> <!--specifies that the content should only be as wide as the display its showing on-->
<link rel="stylesheet" href="/style.css" type="text/css" /> <!--adds a external style sheet, this allows the webpages to be more consistent in style, and makes updating style easier across webpages.-->
<title>WOF</title> 
	
</head>

<body><!--loaded on teh main body of the webpage-->
<!--allows the following elements to be clumped together.-->

<center>
<a href="/">| Home | </a> 
<a href="/play">Play |</a>
<a href="/new">New |</a>
<a href="/analysis">Analysis |</a>
<a href="/exit">Exit |</a>
</center>


</header>
 <%= yield %> 
 <!--#This hands over the controls back to the erb, which this erb is embeded in.-->

<footer><!--#inserts content underneath all other content-->
<center><p>WOF</p></center>
</footer>
</body>
